.label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .input {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    outline: 2px solid grey;
  }